/*.focus-slider {
    position: relative;
    width: 100%;
    height: 181px;
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: height .3s linear;
    -moz-transition: height .3s linear;
    -o-transition: height .3s linear;
    transition: height .3s linear;
}*/
#B_Slider{
    position: relative;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    -webkit-transition: height .3s linear;
    -moz-transition: height .3s linear;
    -o-transition: height .3s linear;
    transition: height .3s linear;
}
.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate(0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.swiper-slide {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
.swiper-pagination {
    position: absolute;
    text-align: right;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 10;

    bottom: 10px;
    left: 0;
    width: 100%;
}
.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
    margin: 0 5px;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer;
}

.swiper-pagination-bullet {
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #ffffff;
    opacity: .2;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    background: #fff;
}
img {
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in;
}